################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BOOKSTORE-GIT/BOOKSTORE-GIT/obj
/BOOKSTORE-GIT/.vs/BOOKSTORE-GIT
/BOOKSTORE-GIT/BOOKSTORE-GIT/Properties
